
nav ul li {
    display: inline-block;
    margin: 20px;
}

h1,h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    margin: 20px;
}

footer {
    text-align: center;
     color: #fff; 
     background-color: black;
      height: 20px; 
      font-size: 10px; 
      padding-top: 5px
}


nav ul li a {
    text-decoration: none;
    
}

article p {
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    color: rebeccapurple;
}
 ol {
    list-style: upper-alpha;
    font-size:18px;
    color:rgb(74, 46, 102);
}
 ul {
    list-style-type:circle;
    font-size:18px;
    color:rgb(74, 46, 102);
}